* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

$color: #202027;

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
button {
    border: none;
}

.header {
    background-image: url(./img/bg-top.png);
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E1FF8F;

    &__main {
        padding-top: 196px;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }

     &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        color: $color;
    }

     &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        max-width: 720px;
        color: $color;
    }

     &__text-bold {
        font-weight: 600;
    }

    &__btn {
        margin-top: 24px;
        width: 247px;
        padding: 16px 0px;
        background-color: $color;
        color: white;
        border-radius: 60px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        text-decoration: none;
    }

    &__btn:hover {
        background-color: white;
        color: black;
        transition: all 0.3s;
    }
}

.main-content {
    background-color: $color;
}

.about {
    background-color: $color;
    padding-bottom: 96px;
    padding-top: 94px;
    position: relative;

    &__star-bg1 {
    position: absolute;
    z-index: 0;
    top: 94px;
    right: -120px;
    }

    &__star-bg2 {
    position: absolute;
    top: 770px;
    left: -95px;
    }

    &__star-bg3 {
    position: absolute;
    top: 820px;
    left: -80px;
    }

    &__title {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 64px;
        color: white;
    }

    &__text {
        margin-bottom: 72px;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;    
        color: white;
    }

    &__game {
       display: flex;
       flex-wrap: wrap;
       column-gap: 32px;
       z-index: 1;
    }

    &__item {
        display: block;
        width: 378px;
        height: 512px;
        background-color: #FFFFFF;
        border-radius: 30px;
        text-decoration: none;
        color: black;
        z-index: 0;
    }

    &__item_small {
        height: 473px;
    }

    &__item_big {
        height: 551px;
    }

    &__item_order5 {
        align-self: flex-end;
    }

    &__item:hover {
        transform: scale(1.1);
        transition: all 1s;
    }

    &__img {
        display: block;
    }

    &__text-box {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 32px;
        padding-top: 32px;
    }

    &__game-number {
        padding: 8px 16px 10px 16px;
        box-sizing: border-box;
        background-color: #F7F7F7;
        font-weight: 500;
        font-size: 16px;
        border-radius: 53px;
        margin-bottom: 16px;
        color: $color;
    }

     &__game-name {
        font-weight: 700;
        font-size: 32px;
        color: $color;
    }
}



.footer {
    background-color: #BDED35;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
}

